<div class='generate_category'>
  <%= form_tag admin_gifs_path do %>
  <div class='form_field'>
    <%= label_tag :category, 'Category' %>
    <%= search_field_tag :category, 'puppers' %>
  </div>
    <%= submit_tag 'Generate Gif', class:'button' %>
  <% end %>
</div>
