<div class= 'all_gifs'>
  <% @categories.each do |category| %>

    <h2><%= category.name %></h2>

    <% category.gifs.each do |gif| %>
    <div id="img-<%=gif.id%>">
     <img src=<%= gif.image_path %>>
     <%= link_to "<i class='far fa-heart'></i>".html_safe, favorites_path(gif_id: gif.id), method: 'post', title: 'Add to Favorites', class: 'heart' %>
    </div>
    <% end %>
    
  <% end %>
</div>
