<div class="all_gifs">
<% @categories.each do |category| %>
<section class='name_and_gif'>
  <div class="category_name">
    <h3><%= link_to category.name.capitalize, category_path(category) %></h3>
  </div>

  <div class='all_gifs'>
    <% category.gifs.each do |gif| %>
      <% if current_user.gifs.include?(gif) %>
        <div class= 'gif', id="img-<%=gif.id%>">
         <img src=<%= gif.image_path %>>
         <%= link_to "<i class='far fa-times-circle'></i>".html_safe, gif_path(gif), method: 'put', title: 'Remove from Favorites', class: 'x' %>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
<% end %>
</div>
