html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Arial';
  background-color: #E9F1F7;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height:100%
}

.flash {
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:40px;
  flex: 1 0 auto;
}

img {
  display: flex;
  height: 250px;
  margin: 10px;
}

form {
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-items: center;
}

.form_field {
  padding: 10px;
}

.button {
	display: flex;
  justify-content: center;
	background-color: #3E6990;
  text-transform: uppercase;
  text-decoration: none;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	border: 3px solid #565554;
  color: #FFFFFF;
}

.button:hover {
  background-color: #818D92;
}

.heart {
  color: red;
}

.x {
  color: red;
}

.category {
  color: #FFFFFF;
  font-size: 24px;
}

.all_gifs {
  display: flex;
  flex-direction: row;
  margin: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  font-family: 'impact';
  font-size: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #381D2A;
}

.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #290025;
}

.show h1{
  font-family: 'impact';
  font-size: 40px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3E6990;
  top:0;
  height: 60px;
  width: 100%;
  align-items: center;
}

.nav_link {
  margin: 20px;
  color: #FFFFFF;
}

a {
  color: #FFFFFF;
}

footer {
  display: flex;
  align-items: center;
  position:absolute;
  bottom:0;
  width:100%;
  height:40px;
  background-color: #565554;
  color: #FFFFFF;
  font-size: 12px;
  flex: 1 0 auto;
}
