body {
  font-family: 'Arial';
  background-color: #E9F1F7;
}

.title {
  font-family: 'impact';
  font-size: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #381D2A;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #3E6990;
  top:0;
  width: 100%;
}

.nav_link {
  margin: 20px;
  color: #FFFFFF;
}

a {
  color: #FFFFFF;
}

footer {
  display: flex;
  align-items: center;
  position:absolute;
  bottom:0;
  width:100%;
  height:40px;
  background-color: #565554;
  color: #FFFFFF;
  font-size: 12px;
}
