<div class= 'all_gifs'>
<% @category.gifs.each do |gif| %>
  <div id="img-<%=gif.id%>">
   <img src=<%= gif.image_path %>>
   <% if current_user.gifs.include?(gif) %>
    <%= link_to "<i class='fas fa-heart'></i>".html_safe, gif_path(gif), method: 'put', title: 'Remove from Favorites', class: 'heart' %>
   <% else %>
    <%= link_to "<i class='far fa-heart'></i>".html_safe, user_favorites_path(current_user, gif_id: gif.id), method: 'post', title: 'Add to Favorites', class: 'heart' %>
   <% end %>
  </div>
<% end %>
</div>
